<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://www.88qupai.com/resources/ipa/futuresTrade_v1.4.5.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>http://www.88qupai.com/resources/site/logo.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>http://www.88qupai.com/resources/site/logo.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>waben.FuturesTradeTong.cn</string>
				<key>bundle-version</key>
				<string>1.4.5</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>期货交易通</string>
				<key>subtitle</key>
				<string>期货交易通</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
